#AI_header {
  .title_warp{
    background: #27282D;
  }

  .title_box {
    width: 1190px;
    margin: 0 auto;
    height: 6.43rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_icon {

      .logo {
        width: 10rem;
        height: 2.79rem;
      }
    }

    .center_box {
      display: flex;
      justify-content: center;
      align-items: center;

      .cenItem {
        flex: 1;
        width: 7.21rem;
        text-align: center;
        font-size: 1.14rem;
        font-weight: 400;
        color: #FFFFFF;
        cursor: pointer;

        button {
          border: none;
          background-color: transparent;
          outline: none;
        }
      }



      .index {
        color: #E50304;
      }
    }

    .right_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      cursor: pointer;

      .Avatar {
        width: 3rem;
        height: 3rem;
        margin-right: 0.714286rem;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.14rem;
        font-weight: 400;
        color: #FFFFFF;
        border: none;
        background-color: transparent;
        outline: none;

        .right_icon {
          margin-left: 0.93rem;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0.428571rem 0.5rem 0.428571rem;
          border-color: transparent transparent #fff transparent;
          line-height: 0px;
          _border-color: #000000 #000000 #fff #000000;
          _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
          transition: 0.618s;
          transform-origin: center center;


        }

        &:hover .right_icon {
          transform: rotateZ(180deg);

        }
      }



    }


  }

  .banner {
    background: url('https://aictb.oss-cn-shanghai.aliyuncs.com/teacher/banner.png') no-repeat;
    background-position: center center;
    height: 12.5rem;
    cursor: pointer;
  }
  .banner1{
    background: url('https://aictb.oss-cn-shanghai.aliyuncs.com/teacher/banner1.png') no-repeat;
    background-position: center center;
    height: 12.5rem;
  }
}