#AI_footer {
  background: #27282D;

  .footimg {
    height: 8.57rem;
    background: url('https://aictb.oss-cn-shanghai.aliyuncs.com/teacher/footimg.png') no-repeat;
    background-position: center center;
  }

  .foot_warp {
    width: 1190px;
    margin: 0 auto;
  }

  footer {
    height: 19.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_info {
      display: grid;
      grid-template-columns: 15.42rem 15.42rem 15.42rem;
      grid-template-rows: 2.64rem 2.64rem;
      justify-items: start;
      align-items: center;

      .infoitems {
        font-size: 1.43rem;
        font-weight: bold;
        color: #FFFFFF;


        &:last-child {
          color: #E50304;
        }
      }

      .botfont {
        font-size: 1.14rem;
      }
    }


    .cen_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footqrcode {
        width: 8.71rem;
        height: 8.71rem;
        margin-bottom: 1rem;
      }



      .foottext {
        font-size: 1.14rem;
        font-weight: 400;
        color: #FFFFFF;

      }
    }

    .foottip {
      width: 23.86rem;
      height: 8.21rem;
    }
  }
}