#User {
  max-width: 1920px;
  min-height: 23.642857rem;
  margin: 0 auto;
  margin-top: -3.571429rem;
  min-width: 1190px;
  width: 85.14rem;

  .body_warp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 3.57rem;
    margin-top: 1.21rem;

    .left_box {
      margin-right: 1.14rem;
      width: 23.43rem;

      .top_info {
        width: 23.43rem;
        height: 15.5rem;
        box-shadow: 0rem 0rem 3rem 0rem rgba(149, 149, 149, 0.13);
        border-radius: 1rem;
        background-color: #fff;
        background-image: url('https://aictb.oss-cn-shanghai.aliyuncs.com/teacher/info_bg.png');
        background-repeat: no-repeat;
        background-size: 18.29rem 2.43rem;
        background-position: 6.428571rem 0;
        margin-bottom: 1.14rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .perpo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 0.79rem;

          .Avatar {
            margin-bottom: .79rem;
          }

          .name {
            font-size: 1.71rem;
            font-weight: 400;
            color: #222222;
          }
        }




        .info {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
          padding: 0 1.71rem;
          font-size: 1.14rem;
          font-weight: 400;
          color: #222222;

          .subject {


            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            img {
              margin-right: 1rem;
              width: 1.79rem;
              height: 1.43rem;
            }
          }

          .integral {


            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            img {
              margin-right: 1rem;
              width: 1.43rem;
              height: 1.43rem;
            }
          }
        }
      }

      .bot_menu {
        width: 23.43rem;
        height: 56.79rem;
        background: #FFFFFF;
        box-shadow: 0rem 0rem 3rem 0rem rgba(149, 149, 149, 0.13);
        border-radius: 1rem;
        overflow: hidden;

        .items {
          height: 5.06rem;
          background: #fff;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 1.71rem;
          cursor: pointer;

          .pic_icon {
            margin-right: 1.14rem;
          }

          .text {
            font-size: 1.19rem;
            font-weight: 400;
            color: #222222;

          }
        }

        .current_bg {

          background: #FFF7F3;
        }
      }
    }

    .right_box {
      min-height: 73.43rem;
      background: #FFFFFF;
      box-shadow: 0rem 0rem 3rem 0rem rgba(149, 149, 149, 0.13);
      border-radius: 1rem;
      flex: 1;






    }
  }


}