#T_modelbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .382);

  .gord_warp {
    background: #FFFFFF;
    border-radius: 1rem;

    .title_box {
      height: 4.64rem;
      background: #E50304;
      border-radius: 1rem 1rem 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.71rem;
      font-size: 1.43rem;
      font-weight: bold;
      color: #FFFFFF;
    }

    .right_box {
      cursor: pointer;

      .delete_icon {
        width: 1.29rem;
        height: 1.29rem;
      }
    }
  }
}