#AI_floatBox {
  width: 2.86rem;
  height: 14.57rem;
  position: fixed;
  top: 30rem;
  right: .29rem;
  background: #E50304;
  border-radius: 0.357143rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.21rem 0;
  cursor: pointer;

  .basket_icon {
    width: 1.14rem;
    height: 1rem;
  }

  .count {
    font-size: 1rem;
    font-weight: 400;
    color: #FEC3A2;

    em {
      color: #fff;
      font-style: normal;
    }
  }

  .title {
    font-size: 1.14rem;
    font-weight: 400;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    letter-spacing: 0.357143rem;
  }

  .arrow_icon {
    width: 1.93rem;
    height: 1.43rem;
  }
}